.page-header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
}
.page-header__container {
    display: flex;
    align-items: center;
}

.page-navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    column-gap: 50px;   
}

.menu-list-contact {
    display: flex;
    margin-left: auto;
}

.menu .link.current {
    color: var(--accent-color);
}
.menu__link {
    position: relative;
    padding-bottom: 32px;
    padding-top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--dark-accent-color);
    transition: color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contact-mail {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--grey-accent-color);
    margin-right: 30px;
    transition: color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contact-phone-number {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--grey-accent-color);
    transition: color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.icon-smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}

.envelope-image {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}
.current::after {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}