.portfolio-menu {
    display: flex;
    column-gap: 8px;
    margin-bottom: 50px;
    justify-content: center;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.portfolio-card {
    flex-basis: calc((100% - 60px) / 3);
}
.card-link:hover,
.card-link:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-img-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--dark-accent-color);
    margin-bottom: 4px;
}
.portfolio-img-name {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--grey-accent-color);
}
.portfolio-list-img-wrapper {
    position: relative;
    overflow: hidden;
}
.text-border {
    padding: 20px 24px;
    border: 1px solid var(--white-border-color);
    border-top: none;
}