@media screen and (max-width: 767px) {
    .specialization {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .specialization {
        display: none;
    }
}
@media screen and (min-width: 1200px) {
    .specialization {
        display: contents;
        padding-bottom: 94px;
    }
    .specialization__img-wrapper {
        position: relative;
    }  
}

// .specialization {
//     padding-bottom: 94px;
// }
// .specialization__img-wrapper {
//     position: relative;
// }