// <<<<<<<<<<--MOBILE-->>>>>>>>>>>>
@media screen and (max-width: 767px) {
    .list-item {        
        flex-direction: column;
    }
}
// <<<<<<<<<<--TABLET-->>>>>>>>>>>>
.list-item {
    flex-wrap: wrap; 
}
// <<<<<<<<<<--DESKTOP-->>>>>>>>>>>>
// <<<<<<<<<<--GENERAL-->>>>>>>>>>>>
.list-item {
    display: flex;    
    gap: 30px;    
}


// .list-item {
//     display: flex;
//     gap: 30px;
//     justify-content: center;
// }