@media screen and (max-width: 767px) {
    .list-item {
        display: flex;
        flex-direction: column;
        gap: 30px;      
        
    }

}

// .list-item {
//     display: flex;
//     gap: 30px;
//     justify-content: center;
// }